


//----------------------------------------\\
// CSS for making pretty stuff <3
//----------------------------------------\\

.page-header {
  @include clearfix;
  padding: 0 0 $padding;
}

  .page-logo {
    margin: $padding auto;
    width: 200px;
    height: 200px;
    background: rgba($black, 0.4);
    border-radius: 50%;
  }


  .page-header--mp {
    background: $mp-color-1;
  }
